.appText {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    overflow: auto;
}

.mainMenu ul {
  float: right;
}

.mainMenu li {
  color: #000000;
  display: inline-block;
  padding: 0.8em;
  font-size: 1.2em;
}

.mainMenu a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) {

    .mainMenu {
        overflow: auto;
        display: inline-block;
        float: left;
    }

    .logo {
        width: 20%;
        display: inline-block;
        margin-left: 0.2em;
        padding-top: 1em;
        float: left;
    }

    .logo a {
        text-decoration: none;
        color: #000000;
        font-size: 2em;
        margin-left: 1.5em;
    }

    .expandMainMenu {
        display: none;
    }

    .header {
        position: relative;
        top: 1em;
        right: 1em;
        width: 100%;
        overflow:auto;
    }
}

@media only screen and (max-device-width: 768px) {

    .header {
        padding-top: 1em;
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y:auto;
        z-index: 15;
    }

    .expandMainMenu {
        display: inline-block;
        float: left;
        margin-left: 3em;
        margin-top: 0.5em;
    }

    .expandMainMenu .icon {
        width: 3em;
        height: 3em;
    }

    .logo {
        display: inline-block;
        float: left;
    }

    .logo a {
        text-decoration: none;
        color: #000000;
        font-size: 3em;
        margin-left: 1.5em;
    }

    .mainMenu {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        left: 20px;
        top: -10px;
        width: 100%;
        font-size: 2em;
    }

    .mainMenu ul {
        width: 100%;
    }

    .mainMenu ul li {
        width: 100%;
        background: #ffffff;
        display: block;
        border-bottom: 1px solid #eeeeee;
    }

    .hideNav {
        display: none;
    }
}

.content {
    overflow:auto;
    position: relative;
    width: 80%;
    padding: 2em;
    margin: 1em;
}

button {
    border: 0.07em solid #000000;
    background: #ffffff;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.2em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
}
button:hover {
    border-top-color: #000000;
    background: #000000;
    color: #ccc;
    cursor:pointer;
}
button:active {
    border-top-color: #ffffff;
    background: #ffffff;
}

.about {
  font-family: Gill Sans, Humanist, Sans-Serif;
  font-size: 1.1em;
  font-weight: 300;
  margin-left: 2em;
}

h1 {
  font-weight: 300;
  font-size: 1.6em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eeeeee;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
    padding-bottom: 0.2em;
}