.title {
  font-size: 1.2em;
}

.subtitle {
  font-size: 1em;
  color: #222222;
}

.author {
  margin-top: 0.6em;
  font-size: 1em;

}

.publisher {
  font-size: 1em;
  color: #222222;
}

.lendStatus {
    margin-top: 0.6em;
}