.addComment {
    overflow: auto;
    margin-top: 1.2em;
    margin-left: 2em;
}

.addComment textarea {
    width: 84%;
    font-size: 0.9em;
    font-family: Arial, Sans-Serif;
    line-height: 1.2em;
    height: 16em;
    float: left;
    resize: none;
    background: hsl(0, 0%, 98%);
    border: 1px solid #bbbbbb;
}

.addComment button {
    float: left;
}

.addComment div {
    display: block;
    overflow: auto;
    padding-bottom: 0.4em;
}

.comment {
    width: 80%;
    display: block;
    border-bottom: 1px solid #dddddd;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-family: Gill Sans, Humanist, Sans-Serif;
    background: hsl(0, 0%, 99%);
}

.commentBody {
    padding-bottom: 0.8em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4em;
}

.commentHeading {
    font-weight: 500;
    padding-bottom: 0.5em;
    font-size: 1.4em;
}

.commentFooter {
    font-style: italic;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;

}

.title {
    padding-bottom: 1em;
}

.createButtons div {
    float: left;
    padding-right: 0.5em;
    padding-top: 0.5em;
}

.title input {
    width: 81.4%;
    border: 0.5px solid #555555;
    height: 1.6em;
}