.filterBox {
    float: none;
    overflow-y: auto;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 0.03em solid #dddddd;
    background-color: #fafafa;
}

.criteria {
    margin-left: -1em;
    float: none;
    overflow-y: auto;
}

.criteria ul {
    display: inline-block;
    list-style: none;
    padding-left: 1em;
    margin-top: 0;
}

.criteria ul li {
    display: inline-block;
    padding-right: 1em;
}

.query {
    margin-left: -1em;
    overflow-y: auto;
    padding-left: 1.4em;
}

.query input {
    width: 90%;
    height: 1.6em;
    font-size: 0.9em;
}