.defaultList {
    display: block;
    margin-left: -4em;
    font-size: 1em;
    width: 100%;
}

.defaultList li {
    list-style: none;
}

.nestedList ul {
    display: inline;
}

.nestedList ul li {
    float: left;
    margin-right: 0.2em;
    padding-right: 0.2em;
}

.nestedList button {
}

.bookLinks ul {
  display: inline;
}

.bookLinks ul li {
    float: left;
    margin-right: 0.2em;
    padding-right: 0.2em;
    border-right: 0.05em solid #dddddd;
}

.defaultListItem {
    border-bottom: 0.03em solid #dddddd;
    margin-bottom: 0.6em;
    padding-bottom: 0.8em;
}

.defaultListItem ul li {
}

.bookRequestItem {
    padding-bottom: 1.2em;
}