.libraryMenu a:hover {
    background-color: #e6e6e6;
}

.libraryContent {
    overflow: auto;
}

.requestList li {
    font-size: 1em;
    font-weight: 300;
}

.requestList .requestHeader {
    font-size: 1.1em;
    font-weight: 400;
}

.libraryMain {
    overflow: auto;
}

@media only screen and (min-device-width: 768px) {
    .libraryMenu {
        float: left;
        margin-right: 3em;
        overflow:auto;
    }

    .libraryMenu li {
        display: block;
        border-bottom: 1px solid #dedede;
    }

    .libraryMenu a {
        display: block;
        padding-right: 3em;
        margin-right: 0em;
        text-decoration: none;
        color: #000000;
    }
}

@media only screen and (max-device-width: 768px) {
    .libraryMenu {
        float: none;
        overflow:auto;
        margin-left: -2.2em;
    }

    .libraryMenu li {
        display: block;
    }

    .libraryMenu a {
        color: #0044cc;
    }
}
