.libraryMenu {
    float: left;
    margin-right: 3em;
    overflow:auto;
}

.libraryMenu li {
    display: block;
    font-size: 1.2em;
    border-bottom: 1px solid #dedede;
}

.libraryMenu a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding-right: 3em;
  margin-right: 0em;
}

.libraryMenu a:hover {
    background-color: #e6e6e6;
}

.libraryContent {
    overflow: auto;
}

.requestList li {
    font-size: 1em;
    font-weight: 300;
}

.requestList .requestHeader {
    font-size: 1.1em;
    font-weight: 400;
}

.libraryMain {
    overflow: auto;
}
